libvirt_uri       = "qemu+sshcmd://YOUR_USER@YOUR_HOST/system"
cluster_name      = "YOUR_CLUSTER_NAME"
storage_pool_path = "/var/lib/libvirt/home-lab"

ubuntu_image_url = "https://cloud-images.ubuntu.com/releases/resolute/release/ubuntu-26.04-server-cloudimg-amd64.img"

admin_user          = "YOUR_VM_ADMIN_USER"
ssh_public_key_path = "~/.ssh/YOUR_PUBLIC_KEY.pub"
timezone            = "Etc/UTC"
upgrade_packages    = true
cloud_init_revision = 1

# Use an existing libvirt network, such as the default NAT network.
network_mode         = "network"
libvirt_network_name = "default"
bridge_name          = "br0"

# To use an existing host bridge instead:
# network_mode = "bridge"
# bridge_name  = "br0"

nodes = {
  k8s-cp-1 = {
    role       = "control-plane"
    vcpu       = 2
    memory_mib = 3072
    disk_gib   = 20
    mac        = "52:54:00:aa:00:11"
  }
  k8s-worker-1 = {
    role       = "worker"
    vcpu       = 4
    memory_mib = 5120
    disk_gib   = 40
    mac        = "52:54:00:aa:00:12"
  }
  k8s-worker-2 = {
    role       = "worker"
    vcpu       = 4
    memory_mib = 5120
    disk_gib   = 40
    mac        = "52:54:00:aa:00:13"
  }
}
